@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #fff;
    background: #000;
    min-height: 100vh;
    position: relative;
}

.link {
    color: #007bff;
    text-decoration: none;
}

.link:hover {
    color: #036bd9;
    text-decoration: underline;
}
