.navbar {
    padding: 0.6rem 1rem;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    place-items: center;
    border-bottom: 1px solid rgb(45, 45, 45);
}

.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    justify-self: start;
}

.brandName {
    font-size: 1.2rem;
    margin-left: 10px;
}

.links {
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    justify-self: end;
}

@media (prefers-color-scheme: light) {
    .navbar {
        background: rgb(240, 240, 240);
    }
}