.navbar {
    padding: 0.6rem 1rem;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    place-items: center;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(30px);
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    width: 100svw;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    justify-self: start;
}

.brandName {
    font-size: 1.2rem;
    margin-left: 10px;
}

.links {
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    justify-self: end;
}

.logoImage {
    border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
    .navbar {
        border-bottom: 1px solid rgb(45, 45, 45);
    }
}

@media (prefers-color-scheme: light) {
    .navbar {
        background: rgba(240, 240, 240, 0.5);
        box-shadow: 0 0 2px 0 rgb(200, 200, 200);
    }
}

@media (max-width: 970px) {
    .navbar {
        padding: 0.6rem 15px;
        display: flex;
        justify-content: space-between;
    }
}
