.items {
    background: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.1)
    );
    height: 100%;
    position: relative;
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}

@media (min-width: 971px) {
    .items {
        height: calc(100vh - 65px);
        margin-bottom: 0;
    }
}

.item {
    margin: 5px 0;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1em;
    padding: 5px 20px;
}

.icon {
    margin-bottom: 3px;
}

.item:first-child {
    margin-top: 0;
}

.item:hover {
    background: rgba(255, 255, 255, 0.15);
}

.item:last-child {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.spacer {
    position: absolute;
    bottom: 45px;
    width: 100%;
    background: #333;
    height: 1px;
    border-radius: 10px;
}

.activeItem {
    border-left: 1px solid #007bff;
}

.activeItem:hover {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
