.circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: rgb(34, 197, 94);
    box-shadow: 0 0 0 3px rgba(34, 197, 94, 0.4);
    animation: pulse 1.5s linear infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 5px rgba(34, 197, 94, 0.6);
    }

    100% {
        box-shadow: 0 0 0 10px rgba(34, 197, 94, 0.4),
            0 0 0 6px rgba(34, 197, 94, 0.4);
    }
}
