@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", Roboto, sans-serif;
}

body {
    background-color: #000;
    color: #fff;
    min-height: 100vh;
    position: relative;
    max-width: 100vw;
    overflow-x: hidden;
}

code {
    font-family: Consolas, 'Courier New', Courier, monospace;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #0564c9;
}

@media (min-width: 971px) {
    .mobile {
        display: none;
    }
}

@media (max-width: 970px) {
    .desktop {
        display: none;
    }
}