.wrapper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/background.jpg);
    min-height: calc(100vh - 63px);
    width: calc(100vw - 20px);
    max-width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 40%;
    padding: 10px;
}