.list {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.list li {
    margin: 0 5px;
}

.list li a {
    color: #ddd;
    padding: 7px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.list li a:not(.active) {
    border-bottom: 2px solid transparent;
}

.active, .list li a:hover {
    text-decoration: none;
    background: rgba(255, 255, 255, 0.1);
}

.list li a:not(.active):hover {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 2px solid #007bff;
}

@media (max-width: 970px) {
    .navbarListWrapper {
        display: block;
        margin-top: 10px;
        position: fixed;
        top: 0;
        left: -100vw;
        z-index: 1000;
        height: 100vh;
        overflow-y: scroll;
        width: 80vw;
        background: #222;
        padding: 10px;
        transition: 0.3s;
    }

    .open {
        left: 0;
    }

    .list {
        display: block;
        margin-left: 0;
        margin-bottom: 50px;
    }

    .active {
        border-left: 2px solid #007bff;
        border-bottom: none;
    }

    .list li a {
        border-top-left-radius: 0;
        border-bottom-right-radius: 5px;
        display: block;
    }

    .list li {
        margin: 10px 0;
    }
}